body {
    margin: 0px;
    padding: 0px;
    color: #792a08;
    font-family: monospace;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    min-height: 100vh;
}

.content .header {
    margin-top: 20px;
}

.content footer {
    margin-top: 50px;
    width: 100%;
    align-self: flex-end;
}

.content .animation-list {
    margin-top: 20px;
}

.header img {
    height: 15vh;
}

.mascot {
    position: relative;
}

img.mascot {
    position: relative;
    height: 40vh;
    left: -3vw;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    color: #D3967B;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 800px) {
    .menu {
        flex-direction: column;
        justify-content: space-evenly;
    }
}
    
.menu > li {
    margin: 0px 1em 0px 1em;
    user-select: none;
    font-size: x-large;
}

.menu > li > a {
    color: #D3967B;
    text-decoration: none;
}

.menu > li > a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer-content i {
    margin: 5px;
    color: #D3967B;
}

.animation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
}

.animation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    margin: 10px;
}

.animation-item > video {
    width: 100%;
}

.animation-title {
    margin-top: 5px;
    text-align: center;
}

.photo-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    margin: 10px;
}

.photo-item img {
    width: 100%;
}

.photo-title {
    margin-top: 5px;
    text-align: center;
}

img.avatar {
    height: 35vh;
}

.about {
    width: 50vw;
    text-align: justify;
}

@media (max-width: 500px) {
    .animation-item {
        width: 90%;
    }

    .photo-item {
        width: 90%;
    }

    .about {
        width: 90vw;
    }
}