<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.ext %}
    </head>
    <body>
        <div class="content">
            {% include header.ext %}
            <div class="avatar">
                <img class="avatar" src="assets/isaanddogs.png">
            </div>
            <div class="about">
                <p>
                    {{ content }}
                </p>
            </div>
            {% include footer.ext disable_menu=true %}
        </div>
        {% include tail_scripts.html %}
    </body>
</html>
