<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.ext %}
    </head>
    <body>
        <div class="content">
            <div class="header">
                <a href="/"><img class="header" src="/assets/header.png"></a>
            </div>
            <div class="photo-list">
                {% for arch in site.data.architecture %}
                    {% if page.section == arch.section %}
                    <div class="photo-item">
                        <img src="/assets/architecture/{{ arch.section }}/{{ arch.filename }}">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% include footer.ext %}
        </div>
    </body>
</html>
