<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.ext %}
    </head>
    <body>
        <div class="content">
            {% include header.ext %}
            <div class="photo-grid {{ page.css }}">
                {% for arch in site.data.architecture %}
                    {% if page.section == arch.section %}
                    <div
                        {% if arch.css %}
                        class="photo-item {{arch.css}}">
                        {% else %}
                        class="photo-item">
                        {% endif %}
                        <img src="/assets/architecture/{{ arch.section }}/{{ arch.filename }}" loading="lazy">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% include footer.ext %}
        </div>
    </body>
</html>
