<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="content">
            {% include header.html %}
            <div class="photo-grid {{ page.css }}">
                {% for arch in site.data.architecture %}
                    {% if page.section == arch.section %}
                    <div
                        {% if arch.css %}
                        class="photo-item {{arch.css}}">
                        {% else %}
                        class="photo-item">
                        {% endif %}
                        <a href="#" data-href="/assets/architecture/{{ arch.section }}/{{ arch.filename }}" data-event-action="click" data-event-category="photo" data-event-label="/assets/architecture/{{ arch.section }}/{{ arch.filename }}">
                            <img src="/assets/architecture/{{ arch.section }}/{{ arch.filename }}" loading="lazy">
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% include footer.html %}
        </div>
        {% include tail_scripts.html %}
    </body>
</html>
