<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.ext %}
        <link rel="stylesheet" href="/assets/common.css">
    </head>
    <body>
        <div class="content">
            <div class="header">
                <img class="header" src="assets/header.png">
            </div>
            <div class="mascot">
                <img class="mascot" src="assets/mascot.gif">
            </div>
            <ul class="menu">
                <li><a href="/animations">ANIMATIONS</a></li>
                <li><a>HAND PAINTED</a></li>
                <li><a>ARCHITECTURE</a></li>
                <li><a href="https://isabelaleao.lojavirtualnuvem.com.br">SHOP</a></li>
                <li><a href="./about">ABOUT</a></li>
            </ul>
            {% include footer.ext %}
        </div>
    </body>
</html>
